@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --white: white;
  --black: black;

  --blue950: #0d192c;
  --blue900: #15263f;
  --blue800: #2e405a;
  --blue500: #8bacd9;

  --cyan400: rgb(0, 255, 248);

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
}
* {
  box-sizing: border-box;
}
.textPreset1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 22px;
}
.textPreset2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  line-height: 145%;
}
.textPreset3-semiBold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.textPreset3-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.textPreset1,
.textPreset3-regular,
.textPreset3-semiBold {
  line-height: 125%;
}
.textPreset1,
.textPreset2,
.textPreset3-regular,
.textPreset3-semiBold {
  letter-spacing: 0px;
}
img {
  height: 302px;
  width: 302px;
}
